<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel ="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
</head>
<body>
    <div class="header">
        <h1><%=title %></h1>
        <p><%=content %></p>
    </div>
    <div class="form-container">
        <% if(error){ %>
            <div class="error"><%= error %></div>
        <% } %>
        <form action="<%= formAction %>" method="POST">
            <% if (student) { %>
                <input type="hidden" name="_method" value="PUT">
            <% } %>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter full name" value="<%= student ? student.name: '' %>">

            <label for="student_number">Student No</label>
            <input type="text" name="student_number" placeholder="Enter student number" value="<%= student ? student.student_number: '' %>">

            <label for="email">Email</label>
            <input type="text" name="email" placeholder="a.g abc@gmail.com" value="<%= student ? student.email: '' %>">

            <label for="phone">Phone</label>
            <input type="text" name="phone" placeholder="e.g. 0123456789" value="<%= student ? student.phone: '' %>">

            <div class="button-group">
                <button type="submit" class="save-btn">
                    <i class="fa-solid fa-floppy-disk"></i>
                    <%= student ? 'Update' : 'Save'%> 
                </button>
                <a href="/students" class="back-button">
                    <i class="fa-solid fa-arrow-left"></i>
                    Back
                </a>
        </form>
    </div>
</body>
</html>